body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #444;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

nav a:hover {
    text-decoration: underline;
}

nav a.current {
    text-decoration: underline;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #222;
    font-size: 26px;
}